<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="false" />
<!--node pkg="tf2_ros" type="static_transform_publisher" name="b2l" args="0 0 0 0 0 0 odom base_link"/--> 

<include file="$(find nav)/launch/t265.launch" />
<include file="$(find nav)/launch/LDS-50C-3.launch" />
<include file="$(find nav)/launch/real-carto-iol-mapping.launch" />
</launch>
